.offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  justify-content: flex-start;
  background-color: white;
  box-shadow: 1px 7px 15px 4px hsl(180, 29%, 50%, 0.25);
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.info * {
  margin: 4px 0;
}

.company {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.position {
  font-weight: bold;
}

.company-name {
  color: hsl(180, 29%, 50%);
  font-size: 15px;
  font-weight: bold;
}

.additional-info {
  font-size: 14px;
  color: gray;
}

.tags {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  color: hsl(180, 29%, 50%);
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: hsl(180, 46%, 93%);
  padding: 5px 10px 3px 10px;
}

.tag:hover {
  color: white;
  background-color: hsl(180, 29%, 50%);
  cursor: pointer;
}

.badge {
  padding: 5px 7px;
  border-radius: 15px;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}

.new-badge {
  background-color:hsl(180, 29%, 50%);
}

.featured-badge {
  background-color: hsl(180, 14%, 20%);
}